@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }

  /*----------------HEADER----------------*/

  /*------------MAIN PAGE-HERO------------*/

  .hero-title {
    max-width: 320px;
    font-size: 36px;
  }

  /*------------MAIN PAGE-VALUES------------*/

  .values-list-title {
    font-size: 36px;
  }

  .values-content-wrap {
    max-width: 396px;
  }

  .values-list-text {
    font-size: 16px;
  }

  /*---------------MODAL----------------*/

  .modal {
    width: 392px;
  }

  .modal-title {
    font-size: 16px;
  }
}
