@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /*----------------HEADER----------------*/

  /*------------MAIN PAGE-HERO------------*/

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 50px;
    line-height: 1.07;
  }

  /*------------MAIN PAGE-VALUES------------*/

  .values-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .value-list-item {
    width: calc((100% - 24px) / 2);
  }

  /*------------MAIN PAGE-TEAM------------*/

  .team-section > .container {
    margin-right: auto;
    margin-left: auto;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  /*----------------CUSTOMERS---------------*/

  .customers-list {
    column-gap: 24px;
  }

  /*----------------FOOTER---------------*/

  .footer > .container {
    max-width: 582px;
  }

  .footer-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    margin-right: auto;
    margin-left: auto;
  }

  .media-title,
  .footer-logo,
  .footer-form {
    text-align: left;
  }

  .footer-form {
    width: auto;
  }

  .form-wrap {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  /*---------------MODAL----------------*/

  .modal {
    width: 408px;
    min-height: 586px;
    padding: 24px;
  }

  .modal-policy-link {
    margin-left: 5px;
  }
}
