@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /* .hero-section {
    max-width: 1199px;
  } */

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 50px;
    line-height: 1.07;
  }

  .values-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .values-list-item {
    width: calc((100%-72px) / 4);
  }

  .modal {
    width: 408px;
    min-height: 586px;
    padding: 24px;
  }

  .modal-policy-link {
    margin-left: 5px;
  }
}
